@import "../../variables";

.clients {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  .title {
    width: 100%;
  }
  .clients-grid {
    margin: 3rem;
    img {
      margin: 3rem;
      @media (max-width: $sm) {
        margin: 2rem;
      }
    }
  }
}
