@import "../variables";

.page-home {
  .segment {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &.hero {
      background-color: $color1;
      color: $white;
    }

    &.purple {
      background-color: $color3;
      color: $white;

      p {
        color: $white;
      }
    }
  }
}
