@import "../variables";

* {
  box-sizing: border-box;
  font-family: Poppins, Helvetica, Arial;
}

p {
  font-family: Karla, Helvetica, Arial;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h4 {
  font-size: 2.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Karla, Helvetica, Arial;
  font-weight: 700;
}
