@import "../../variables";

$itemWidth1: 25rem;
$itemWidth2: 17rem;
$tableHorizontalPadding1: 2rem;
$tableHorizontalPadding2: 1rem;

$titleColor: lighten($color1, 50);
$listColor: desaturate($color3, 50);
$priceColor: darken(saturate($titleColor, 50), 20);

@function breakpointLevel($itemWidth, $columns, $tablePadding) {
  @return ($itemWidth * $columns + $tablePadding * 2);
}

@mixin responsive-table($columns) {
  display: flex;
  width: $itemWidth1 * $columns;

  @media (max-width: breakpointLevel($itemWidth1, $columns, $tableHorizontalPadding1)) {
    width: 100%;
  }

  @media (max-width: breakpointLevel($itemWidth2, $columns, $tableHorizontalPadding2)) {
    display: block;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    box-shadow: unset;
    padding: 0;

    .item {
      width: 100%;
      max-width: 25rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      background-color: white;
      border-radius: 0.8rem;
      padding-bottom: 2rem;
      box-shadow: 0rem 0.5rem 2rem darken($color3, 10);
      padding-top: 2rem;
    }
  }
}

.pricing-table-container {
  background-color: $color3;
  width: 100%;
  padding-top: $tableHorizontalPadding1;
  padding-bottom: $tableHorizontalPadding1;

  .pricing-table {
    list-style-type: none;
    padding-left: 0;
    background-color: $white;
    border-radius: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;

    box-shadow: 0rem 0.5rem 2rem darken($color3, 10);

    .item {
      width: 100%;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:not(:first-child) {
        border-left: 1px solid $gray;
      }

      .icon-container {
        margin-bottom: 2rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 4rem;

        &::before {
          position: absolute;
          content: "";
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          background-color: $color3;
          opacity: 0.1;
          z-index: 0;
        }

        &::after {
          position: absolute;
          content: "";
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background-color: $color3;
          opacity: 0.02;
          z-index: 0;
        }

        .icon {
          width: 4rem;
          height: 4rem;
          z-index: 1;

          path {
            fill: $priceColor;
          }
        }
      }

      .name {
        font-size: 1.1rem;
        color: $titleColor;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .list {
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        li {
          text-align: center;

          p {
            text-align: center;
            width: 100%;
            color: $color1;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }

      .price {
        color: $priceColor;
        margin-top: 2rem;
        font-size: 2.4rem;
        letter-spacing: 1px;
        margin-bottom: -0.5rem;
      }

      .price-frequency {
        margin-top: 0rem;
        font-size: 1.1rem;
        color: $titleColor;
        font-weight: 400;
      }
    }

    @for $i from 1 through 5 {
      &.columns-#{$i} {
        @include responsive-table($i);
      }
    }
  }
}
