$color1: #1b2032;
$color2: #ed6673;
$color3: #4e42e4;
$color4: #a257e0;
$color5: #ffae6f;

$white: #fff;
$black: #272d3a;
$gray: #eee;
$darkGray: rgb(92, 103, 112);

$max-page-width: 1280px;
$logo-desktop-width: 300px;
$logo-mobile-width: 230px;

$lg: 1200px;
$md: 990px;
$sm: 767px;
$xs: 450px;
