@import "../../variables";

.page-title-container {
  max-width: 50rem;
  margin: 4rem auto;

  .title {
    text-align: center;
  }

  .tagline {
    text-align: center;
    color: $darkGray;
  }

  @media (max-width: $md) {
    margin: 2rem auto;
  }
}
